<div class="add-to-list-modal" *ngIf="show && lists$ | async as lists">
  <div class="modal" *ngIf="lists.length>0; else error">
    <i class="fas fa-times btn-icon btn-close" (click)="closeModal()"></i>
    Add this product<strong>{{product.name}}</strong>
    <div class="image-container">
      <img alt="{{product.name}}" src="{{baseUrl}}{{product.images[0].url}}" />
    </div>
    to your shopping list:
    <select [(ngModel)]="list">
      <option *ngFor="let l of lists" [value]="l.id">{{l.name}}</option>
    </select>
    <div class="buttons-container">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      <button type="button" *ngIf="list" class="btn btn-primary" (click)="addProductToList()">Add</button>
    </div>
  </div>
  <ng-template #error>
    <i class="fas fa-times btn-icon btn-close" (click)="closeModal()"></i>
    No lists available, please create one
    <div class="buttons-container">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </ng-template>
</div>
<div class="modal-backdrop" *ngIf="show" (click)="closeModal()"></div>
