@import '../../../variables.scss';

.add-to-list-modal {
  z-index: 100;
  background-color: white;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 3px;
  padding: 2rem;
  .modal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .btn-close {
    position: fixed;
    top: 0;
    right: 0;
  }
  .image-container {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .buttons-container {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-top: 1rem;
    .btn {
      padding: 1rem;
      border-radius: 3px;
      flex: 1;
      margin: 0 1rem;
      cursor: pointer;
      &.btn-primary {
        border: solid 1px $blue;
        background-color: $blue;
        color: white;
      }
      &.btn-secondary {
        border: solid 1px $gray;
        background-color: $light-gray;
        color: $gray;
      }
    }
  }
  select {
    width: 100%;
    padding: 0.5rem;
    border: solid $gray 1px;
    border-radius: 5px;
  }
}
