.not-found {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 64px;
  min-height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 80%;
    max-height: 80%;
  }
}
