<header>
  <img id="logo" src="https://www.real-digital.de/wp-content/uploads/real-digital_logo.svg" (click)="navigateToHome()">
  <nav>
    <i class="nav-icon fas fa-home btn-icon" (click)="navigateToHome()"></i>
    <i class="nav-icon fas fa-drumstick-bite btn-icon" (click)="navigateToProducts()"></i>
    <i class="nav-icon fas fa-shopping-cart btn-icon {{showLists? 'active': null}}" (click)="toggleLists()">
      <div class="lists-count" *ngIf="lists$ | async as lists">{{lists.length}}</div>
    </i>
  </nav>
  <div class="shopping-lists" *ngIf="showLists">
    <div class="list-item add-list" *ngIf="!addList" (click)="toggleAddList()"><i class="fas fa-plus"></i>Add List</div>
    <div class="list-item active" *ngIf="addList">
      <input type="text" [(ngModel)]="newListName" (keyup.enter)="createList()" />
      <i class="fas fa-plus btn-icon" *ngIf="newListName" (click)="createList()"></i>
    </div>
    <div class="list-item" *ngFor="let list of lists$ | async" (click)="navigateToListDetail(list.id)">{{list.name}} <p
        class="products-count">
        ({{list.products.length}} products)</p>
    </div>
  </div>
</header>
<div class="header-backdrop" *ngIf="showLists" (click)="closeShoppingLists()"></div>
