@import '../../../../variables.scss';

header {
  height: 6rem;
  box-shadow: grey 0px 2px 16px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 90;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    cursor: pointer;
  }
  img {
    width: 100px;
    height: 100%;
    margin: 0 1rem;
  }
  nav {
    display: flex;
    flex-flow: row;
    .nav-icon {
      width: 6rem;
      height: 6rem;
      font-size: 2rem;
      .lists-count {
        border-radius: 100%;
        background-color: $blue;
        width: 2rem;
        height: 2rem;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }
  .shopping-lists {
    display: flex;
    position: fixed;
    top: 6rem;
    right: 0;
    width: 250px;
    z-index: 90;
    background-color: white;
    flex-flow: column;
    border: solid 1px $blue;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    .list-item {
      text-align: end;
      width: 100%;
      padding: 1.5rem;
      box-sizing: border-box;
      border-bottom:  solid 1px $blue;
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      &:hover, &.active {
        background-color: lighten($blue, 70%);
      }
      input {
        width: 100%;
        padding: 0.5rem;
        border: solid #9a9a9a 1px;
        border-radius: 5px;
      }
      &.add-list {
        background-color: $red;
        color: white;
        text-align: start;
        font-size: 1.3rem;
        font-weight: bold;
        justify-content: flex-start;
        &:hover {
          background-color: lighten($red, 10%);
        }
        i {
          margin-right: 2rem;
        }
      }
      .products-count {
        color: $red;
        font-size: 1.3rem;
        margin: 0;
      }
    }
  }
}
.header-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
}
