<div class="shopping-products-item">
  <div class="name" (click)="showDescription = true">
    {{product.name}}
  </div>
  <div class="price">
    {{product.price.formattedValue}}
  </div>
  <i class="fas fa-trash btn-icon" (click)="removeProduct()"></i>
</div>
<app-product-description-modal [product]="product" [(show)]="showDescription"></app-product-description-modal>
