.shopping-products-item {
  display: flex;
  flex-flow: row wrap;
  border: solid gray 1px;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  .name {
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    &:hover {
      transform:scale(1.01);
      color: red;
    }
  }
  .price {
    margin: 0 1rem;
  }
}
