@import '../../../variables.scss';

.product-description-modal {
  z-index: 100;
  background-color: white;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  max-height: 500px;
  .btn-close {
    position: fixed;
    top: 0;
    right: 0;
  }
  .name {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .image-container {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .description {
    overflow-y: scroll;
    padding: 1rem;
    font-size: 1.3rem;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
  }
  .content-units, .price, .brand {
    align-self: flex-start;
    padding: 0.5rem 3rem;
  }
}

