<div class="product-description-modal" *ngIf="show">
  <i class="fas fa-times btn-icon btn-close" (click)="closeModal()"></i>
  <div class="name">
    {{product.name}}
  </div>
  <div class="image-container">
    <img alt="{{product.name}}" src="{{baseUrl}}{{product.images[0].url}}" />
  </div>
  <div class="content-units">
    <strong>Content: </strong>{{product.numberContentUnits}}
  </div>
  <div class="price">
    <strong>Price: </strong>{{product.price.formattedValue}}
  </div>
  <div class="brand">
    <strong>Brand: </strong>{{product.brand}}
  </div>
  <div class="description" [innerHTML]="product.description">
  </div>
</div>
<div class="modal-backdrop" *ngIf="show" (click)="closeModal()"></div>
