@import '../../../variables.scss';

.products-page {
  padding: 2rem;
  .form-group-container {
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    label {
      margin-right: 0.5rem;
    }
    input, select {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .search-container {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .search-products {
      padding: 0.5rem;
      border: solid #9a9a9a 1px;
      border-radius: 5px;
    }
  }
  .list {
    max-width: 700px;
    margin: 0 auto;
  }
}
