<div class="products-page">
  <div class="list">
    <div class="search-container">
      <div class="form-group-container">
        <label for="searchProducts">Search:</label>
        <input id="searchProducts" type="text" class="search-products" [(ngModel)]="searchTerm"
          (ngModelChange)="searchProducts()" />
      </div>
      <div class="form-group-container">
        <label for="sortBy">Sort by:</label>
        <select type="text" class="search-products" [(ngModel)]="sortBy" (ngModelChange)="searchProducts()">
          <option value="relevance">Relevance</option>
          <option value="name-asc">Name Asc</option>
          <option value="name-desc">Name Desc</option>
          <option value="price-asc">Price Asc</option>
          <option value="price-desc">Price Desc</option>
        </select>
      </div>
      <div class="form-group-container">
        <label for="maxResults">Max Items:</label>
        <input id="maxResults" type="text" class="search-products" [(ngModel)]="maxResults"
          (ngModelChange)="searchProducts()" />
      </div>
    </div>
    <app-products-list [products]="products$ | async"></app-products-list>
  </div>
</div>
