<div class="products-list">
  <div *ngIf="products && products.length > 0">
    <app-products-list-item *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: p }"
      [product]="product"></app-products-list-item>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="no-products-message" *ngIf="!products || products.length === 0">
    There are no products to show!
  </div>
</div>
