@import '../../../variables.scss';

.home {
  height: calc(100vh - 130px);
  position: relative;
  .background {
    background: url('../../../assets/koeln.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    filter: grayscale(90%);
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: '';
      background-color: rgba(black, 0.5);
      z-index: 10;
    }
  }
  .info {
    position: absolute;
    color: $light-gray;
    bottom: 3rem;
    right: 3rem;
    margin: 2rem;
    h1, h3, p {
      margin: 0;
      text-align: end;
    }
  }
}
