@import '../../../variables.scss';

.products-list-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 72px;
  box-sizing: border-box;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-bottom: solid $blue 2px;
  font-size: 1.5rem;
  &:hover {
    background-color: lighten($blue, 75%);
  }
  .image-container {
      height: 100%;
      min-width: 32px;
      min-height: 32px;
      max-width: 64px;
      flex: 3;
      display: flex;
      align-items: center;
    img {
      max-width: 100%;max-height: 100%;
    }
  }
  .name {
    flex: 5;
    padding-left: 1rem;
  }
  .price {
    flex: 2;
    text-align: center;
  }
  .actions {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

