<div class="products-list-item">
  <div class="image-container">
    <img alt="{{product.name}}" src="{{baseUrl}}{{product.images[0].url}}" />
  </div>
  <div class="name">
    {{product.name}}
  </div>
  <div class="price">
    {{product.price.formattedValue}}
  </div>
  <div class="actions">
    <i class="fas fa-cart-plus btn-icon" (click)="showAddDetail()"></i>
    <i class="fas fa-ellipsis-h btn-icon" (click)="showDetail()"></i>
  </div>
</div>
<app-product-description-modal [product]="product" [(show)]="showModal"></app-product-description-modal>
<app-add-to-list-modal [product]="product" [(show)]="showAddModal"></app-add-to-list-modal>
