<div class="shopping-list-products">
  <app-shopping-list-products-item *ngFor="let product of products" [product]="product" [listId]="listId"
    (removed)="removeProduct()">
  </app-shopping-list-products-item>
</div>
