@import '../../../variables.scss';
.list-detail {
  h1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    input {
      padding: 0.5rem;
      border: solid #9a9a9a 1px;
      border-radius: 5px;
    }
  }
  .error-message {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: solid $red 1px;
    border-radius: 3px;
    background-color: lighten($red, 60%);
    color: $red;
    max-width: 700px;
    margin: 1rem auto;
  }
}
