<div class="list-detail" *ngIf="list">
  <h1>Shopping List</h1>
  <div class="name" *ngIf="!showEditName">
    <strong>Name:&nbsp;</strong>{{list.name}}&nbsp;<i class="fas fa-edit btn-icon" (click)="showEditName = true">
    </i>
  </div>
  <div class="name" *ngIf="showEditName">
    <strong>Name:&nbsp;</strong><input type="text" [(ngModel)]="list.name" (keyup.enter)="changeName()" />&nbsp;<i
      *ngIf="list.name" class="fas fa-save btn-icon" (click)="changeName()"></i>
  </div>
  <app-shopping-list-products *ngIf="list.products && list.products.length > 0" [products]="list.products"
    [listId]="list.id" (productRemoved)="updateList()">
  </app-shopping-list-products>
  <div *ngIf="!list.products || list.products.length === 0" class="error-message">
    There are no products added to your shopping list.
    <a [routerLink]="['/products']">Start adding products now!</a>
  </div>
</div>
