@import './variables.scss';

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.5rem;
  line-height: 1.35;
  color: #737373;
  background-color: #fafafa;
  margin: 0;
  box-sizing: border-box;
}

.btn-icon {
  padding: 0.2rem;
  cursor: pointer;
  color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  &:hover, &.active{
    background-color: lighten($blue, 70%);
    border-radius: 3px;
    color: darken($red, 10%);
  }
}

.ngx-pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
